<% include partials/header %>
<% include partials/timer %>

<div class="game-folder">
    <div class="game-options row">
        <a href="game"><img src="/images/back.png"></a>
    </div>
    <div id="game-background">
        <img class="mx-auto d-block" src="/images/open-folder.png">
    </div>
    <div id="employees">
        <div id="employee-details" class="col-xl-5 offset-xl-7">
            <!--<h1> Employee Folder </h1>-->
            <h4>All Workers</h4>
            <ul>
                <% for (var i = 0; i < workers.length; i++) { %>
                <div>
                    <li> <%= workers[i].name%> </li>
                    <span> Hiring Cost: <%= workers[i].hireCost %> </span><br>
                    <span> Production Cost: <%= workers[i].production %></span>
                    <button onclick="fireWorker(<%= i%>)" class="btn-secondary">Fire Worker</button>
                </div>
                <% }%>
            </ul>
        </div>
        <div id="employee-details" class="col-xl-5 offset-xl-7">
            <h4>Injured Workers</h4>
            <ul>
                <% if (workersInjured.length == 0) { %>
                    <h6>None Injured</h6>
                <% } %>

                <% if (workersInjured.length > 0) { %>
                    <% for (var i = 0; i < workersInjured.length; i++) { %>
                        <div>
                            <li> <%= workersInjured[i].name%> </li>
                            <span> Hiring Cost: <%= workersInjured[i].hireCost %></span><br>
                            <span> Production Cost: <%= workersInjured[i].production %></span>
                            <button onclick="fireWorker(<%= i%>)" class="btn-secondary">Fire Worker</button>
                        </div>
                    <% }%>
                <% } %>
            </ul>
        </div>
        <div id="employee-details" class="col-xl-5 offset-xl-7">
            <h4>Killed Workers</h4>

            <ul>
                <% if (workersKilled.length == 0) { %>
                    <h6>None Killed</h6>
                <% } %>
                <% if (workersKilled.length > 0) { %>
                    <% for (var i = 0; i < workersKilled.length; i++) { %>
                        <div>
                            <li> <%= workersKilled[i].name%> </li>
                            <button onclick="fireWorker(<%= i%>)" class="btn-secondary">Fire Worker</button>
                        </div>
                    <% }%>
                <% } %>
            </ul>
        </div>
        <div id="employee-details" class="col-xl-5 offset-xl-7">
            <h4>Workers for Hire</h4>
            <ul>
                <% for (var j = 0; j < possibleHires.length; j++) { %>
                <div>
                    <li> <%= possibleHires[j].name%> </li>
                    <span> Hiring Cost: <%= possibleHires[i].hireCost %></span><br>
                    <span> Production Cost: <%= possibleHires[i].production %></span>
                    <button onclick="hireWorker(<%= j%>)" class="btn-secondary">Hire Worker</button>
                </div>
                <% }%>
            </ul>
        </div>
    </div>
</div>
<% include partials/footer %>


<!--<script> setInterval(function(){self.location.reload()},5000) </script>-->

<!-- Script to run timer -->
<script>
    let timeElem = $(".timer span");
    timeElem.css("color", "white");

    let timer = timeElem.html();
    setInterval(function(){ timer--; if(timer>=0) { timeElem.html(timer)}}, 1000);

    function fireWorker(index){
        window.location = "/fireWorker/" + index;
    }

    function hireWorker(index){
        window.location = "/hireWorker/" + index;
    }


</script>
