<% include partials/header %>

<div class="monthly-report">
    <div id="policy-summary">
        <% toMonthlyReport.forEach(function(index){ %>
            <p><span>Policy Title: </span> <%= index.policyTitle %> </p>
            <p><span>Policy Option: </span> <%= index.policyOption %> </p>
            <p><span>Policy Choice: </span><%= index.policyChoice %> </p>
            <hr>
        <% }); %>
    </div>
    <div id="employee-summary">
        <%= affectedEmployees[0] %>
        <% affectedEmployees.forEach(function(index){ %>
            <h3>Name: <span><%= index.name %> </span></h3>
            <h3>Year of Incident: <span><%= index.year %> </span></h3>
            <h3>Type of Incident: <span><%= index.type %> </span></h3>
            <h3>Comment: <span><%= index.comment %> </span></h3>
            <hr>
        <% }); %>
    </div>
</div>

<% include partials/footer %>

<!--
 toMonthlyReport is an array of objects including the following information
    policyTitle = String (Title of Policy)
    policyText Ignore that here
    policyOption = String (Flavour text about what happened)
    policyOptionFunction Ignore that here
    policyChoice = String (contains either "Denied" or "Approved" based on player choice)


 affectedEmployees is an array of objects including the following information
    name = String (Employee name)
    year = Int (Year of injury or death)
    type = String (Stings that contains "Killed", "Fatal" or "Injured"
    comment = String (String that Explains what happened)
    employed Ignore that here
    injured Ignore that here
    alive Ignore that here
            -->