<% include partials/header %>

<div class="monthly-report">
    <div id="report-content">
        <div id="equity-summary" class="col-xl-4 offset-xl-4">
            <h5>Equity</h5>
            <p><span>Previous equity:</span> $<%= equity[0]*100 %></p>
            <p><span>Variable income:</span> $<%= income*100 %></p>
            <p><span>Current equity:</span> $<%= equity[1]*100 %></p>
        </div>
        <div id="policy-summary" class="col-xl-4 offset-xl-4">
            <!--Display summary of the Policies made by the user -->
            <h5>Policy Summary</h5>
            <% toMonthlyReport.forEach(function(index){ %>
                <p><span>Policy Title: </span> <%= index.policyTitle %> </p>
                <p><span>Policy Option: </span> <%= index.policyOption %> </p>
                <p><span>Policy Choice: </span><%= index.policyChoice %> </p>
    <div id="policy-summary" class="col-xl-4 offset-xl-4">
        <!--Display summary of the Policies made by the user -->
        <h5>Equity</h5>
        <p>Previous equity: $<%= equity[0]*100 %></p>
        <p>Variable income: $<%= income*100 %></p>
        <p>Static income: $<%= staticIncome*100 %></p>
        <p>Current equity: $<%= equity[1]*100 %></p>
        <h5>Policy Summary</h5>
        <% toMonthlyReport.forEach(function(index){ %>
            <p><span>Policy Title: </span> <%= index.policyTitle %> </p>
            <p><span>Policy Option: </span> <%= index.policyOption %> </p>
            <p><span>Policy Choice: </span><%= index.policyChoice %> </p>
            <hr>
        <% }); %>
    </div>
    <div id="employee-summary" class="col-xl-4 offset-xl-4">
        <!-- Display summary of the employees affected by usery's decisions -->
        <h5>Affected Employees</h5>
        <% if(affectedEmployees) { %>
            <% affectedEmployees.forEach(function(index){ %>
                <p><span>Name: </span><%= index.name %> </p>
                <p><span>Type of Incident: </span> <%= index.type %> </p>
                <p><span>Comment: </span> <%= index.comment %> </p>
                <hr>
            <% }); %>
        </div>
        <div id="employee-summary" class="col-xl-4 offset-xl-4">
            <!-- Display summary of the employees affected by usery's decisions -->
            <h5>Affected Employees</h5>
            <% if(affectedEmployees) { %>
                <% affectedEmployees.forEach(function(index){ %>
                    <p><span>Name: </span><%= index.name %> </p>
                    <p><span>Type of Incident: </span> <%= index.type %> </p>
                    <p><span>Comment: </span> <%= index.comment %> </p>
                    <hr>
                <% }); %>
            <% } else { %>
                <p>No employees effected this month.</p>
            <% } %>
        </div>
        <div id="resetDiv" class="offset-xl-5">
            <button id="resetGame" class="btn-secondary">Reset Game</button>
            <button id="continueGame" class="btn-secondary">Continue Game</button>
        </div>
    </div>
</div>

<% include partials/footer %>

<script>
    $("#resetGame").click(function () {

        window.location = "/player-reset";
    });
    $("#continueGame").click(function () {
        window.location = "/continue";
    });
</script>

<!--
 toMonthlyReport is an array of objects including the following information
    policyTitle = String (Title of Policy)
    policyText Ignore that here
    policyOption = String (Flavour text about what happened)
    policyOptionFunction Ignore that here
    policyChoice = String (contains either "Denied" or "Approved" based on player choice)


 affectedEmployees is an array of objects including the following information
    name = String (Employee name)
    year = Int (Year of injury or death)
    type = String (Stings that contains "Killed", "Fatal" or "Injured"
    comment = String (String that Explains what happened)
    employed Ignore that here
    injured Ignore that here
    alive Ignore that here
            -->